@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

:root {
  --lightbrown: #222831;
  --lightorange: #393e46;
  --lightpink: #8f8f8f;
  --lightpurple: #7971ea;
  --darkpurple: #eeeeee;
  --white: #fefefe;
  --black: #222831;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--lightorange);
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fefefe;
}

::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--lightbrown);
  font-size: 18px;
  font-weight: 600;
}

li {
  list-style: none;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.app-name {
  margin: 1em;
}

.app-name > span {
  font-family: "Poppins", sans-serif;
  color: var(--lightpurple);
  font-weight: 700;
  font-size: 2.5rem;
}

.hamburger {
  position: relative;
  display: block;
  user-select: none;
  appearance: none;
  border: none;
  background: none;
  margin: 1em 2em;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: relative;
  background-color: var(--lightbrown);
  margin-bottom: 5px;
  width: 2.2rem;
  height: 0.27rem;
  border-radius: 2px;
  transform-origin: 0 0;
}

.drop-down {
  display: none;
}

.drop-down.show {
  display: block;
  position: absolute;
  right: 0%;
  top: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  border-radius: 4px;
  width: 16rem;
  height: auto;
  background-color: var(--white);
  box-shadow: 6px 4px 5px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-down li {
  margin: 1em auto;
}

main {
  /* position: relative; */
  width: 100%;
  height: auto;
  margin-top: 8em;
  background-color: var(--lightorange);
}

.side-bar {
  /* position: relative; */
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 4em auto;
  border-radius: 10px;
  padding: 1em;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
}

.form.is-active {
  transform: translateY(15%);
}

input {
  width: 90%;
  margin: auto;
  background-color: transparent;
}

input[type="text"],
input[type="search"] {
  text-transform: uppercase;
}

input[type="search"] {
  width: 100%;
  border: none;
  border: 1px solid var(--black);
  padding: 0.8em;
  font-size: 1rem;
  margin: 1em auto;
  outline: none;
  color: var(--lightbrown);
  border-radius: 4px;
  text-transform: capitalize;
}

input[type="search"]:focus {
  outline: 1px solid #7971ea;
}

.flex-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.searchBtn {
  position: absolute;
  right: 0%;
  padding: 1em;
  font-size: 0.9rem;
  color: var(--white);
  border: 1px solid var(--lightpurple);
  border-radius: 0 4px 4px 0;
  background-color: var(--lightpurple);
}

input[type="search"]::placeholder {
  text-transform: none;
  color: var(--lightbrown);
}

input[type="text"],
input[type="date"] {
  border: none;
  border-bottom: 1px solid var(--lightorange);
  padding: 0.8em;
  font-size: 1rem;
  margin: 1em auto;
  outline: none;
  color: var(--lightbrown);
  transition: all 0.2s ease-in;
}

input[type="button"] {
  border: none;
  background-color: var(--lightpurple);
  padding: 0.8em;
  font-size: 1.2rem;
  margin: 1em auto;
  outline: none;
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type="text"]:focus,
input[type="date"]:focus {
  border-bottom: 1px solid var(--lightpurple);
}

input[type="text"]::placeholder {
  text-transform: capitalize;
  color: var(--lightorange);
  font-size: 18px;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  margin: 1.5em auto;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--lightorange);
  color: var(--lightbrown);
  outline: none;
  resize: none;
  transition: all 0.2s ease-in-out;
}

textarea::placeholder {
  color: var(--lightorange);
  font-size: 1rem;
}

textarea:focus {
  border: 1px solid var(--lightpurple);
}

.footer {
  background-color: var(--white);
  padding: 1em;
  width: 100%;
  position: absolute;
  left: 0;
}

.copy-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--lightorange);
}

.output-wrap {
  display: flex;
  flex-direction: column;
}

.output {
  width: 90%;
  height: auto;
  margin: 2em auto;
  border-radius: 4px;
  background-color: var(--darkpurple);
}

.note-title {
  padding: 0.5em 0 0 1em;
  color: var(--black);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.note-body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightorange);
  font-family: "Manrope", sans-serif;
  margin: 0.3em auto;
  padding: 0 2em 2em 1.5em;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    margin-top: 6em;
  }

  input[type="search"] {
    width: 50%;
  }

  .searchBtn {
    right: 25%;
  }

  .side-bar {
    width: 36.5%;
    height: auto;
  }

  .form {
    position: fixed;
    top: 9.65%;
    left: 0;
    width: 30%;
    border-radius: 0 4px 4px 0;
    margin: 2em 2em 0 0;
    border-top: 1px solid var(--lightorange);
  }

  .form.is-active {
    transform: translateY(0%);
  }

  .output-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  .output {
    width: 30%;
  }

  .space {
    margin: 0.7em;
  }

  .footer {
    padding: 0.9em;
  }
}
